{{#if errorMessage }}
    <div class="row justify-content-center">
        <div class="col col-7 alert alert-danger error-message">{{{ errorMessage }}}</div>
    </div>
{{/if}}

{{#if successMessage }}
    <div class="row justify-content-center">
        <div class="col col-7 alert alert-success error-message">{{{ successMessage }}}</div>
    </div>
{{/if}}
