Hello, welcome to the project!

<button id="outlet-one" class="btn {{#if device1.status.isOn}} btn-success {{else}} btn-danger {{/if}}" onclick="buttonClick(this)">{{deviceNames.outlet-one}}</button>
<br><br>
<button id="outlet-two" class="btn {{#if device2.status.isOn}} btn-success {{else}} btn-danger {{/if}}" onclick="buttonClick(this)">{{deviceNames.outlet-two}}</button>


<br><br>

<script>


/******************************************************************************
 * UI Functions
 *****************************************************************************/

 function buttonClick(button) {
     console.log(button.classList.contains('btn-danger'));
    if (button.classList.contains('btn-success')) {
        turnOff(button);
    }
    else {
        turnOn(button);
    }
 }

 function offButton(button) {
    button.classList.remove('btn-success');
    button.classList.add('btn-danger');
 }

  function onButton(button) {
    button.classList.remove('btn-danger');
    button.classList.add('btn-success');
 }

function turnOff(button) {
    offButton(button);
    request(button.id, 'false', button);
}

function turnOn(button) {
    onButton(button);
    request(button.id, 'true', button);
}

function request(device, status, button) {
    fetch(`/status/${device}/${status}`).then(function(response) {
        return response.json();
    })
    .then(function(myJson) {
        if (myJson.status !== "Worked") {
            console.log("Locked out");
            if (button.classList.contains('btn-success')) {
                offButton(button);
            }
            else {
                onButton(button);
            }
        }
        else {
            console.log("Updated Correctly");
        }
    }).catch(err => {
        console.log(err);
    });
}

</script>

<style>
    .outlet-false {
        background-color: #ff0000;
    }

    .outlet-true {
        background-color: #00ff00;
    }
</style>

<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    socket.emit('connection');
    
    socket.on('updateStatus', (buttonID, status) => {
        console.log('BUtton: ' + buttonID + ' - Status: ' + status);

        var button = document.getElementById(buttonID);

        if (status === 'true') {
            onButton(button);
        }
        else {
            offButton(button);
        }
    });

    window.onbeforeunload = function(e) {
        socket.disconnect(0);
    };
</script>



