<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <img src="/img/wattli.jpeg" height="64px" width="64px" alt="Wattli logo image">
                <h3>Wattli</h3>
            </div>

        <div class="card">
            <div id="curve_chart" class="googleChart"></div>
        </div>


        <div class="col">
            <div class="card">
                <button id="outlet-one" class="btn {{#if device1.status.isOn}} btn-success {{else}} btn-danger {{/if}}" onclick="buttonClick(this)">{{deviceNames.outlet-one}}</button>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="card">
            <div id="chart_two" class="googleChart"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <button id="outlet-two" class="btn {{#if device2.status.isOn}} btn-success {{else}} btn-danger {{/if}}" onclick="buttonClick(this)">{{deviceNames.outlet-two}}</button>
            </div>
        </div>
    </div>
</div>



<style>
    .outlet-false {
        background-color: #ff0000;
    }

    .outlet-true {
        background-color: #00ff00;
    }
    .col {
        max-width: 500px;
    }

    .card {
        border:none;
        box-shadow: none;
    }

    h3 {
        margin-top: 10px;
    }
	.googleChart {
		height: 400px;
		width: 75vw;
	}
@media only screen
	and (max-device-width: 600px) {
		.googleChart {
			height: 400px;
			width: 90vw;
		}
	}
</style>


<!-- JavaScript includes -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>


/******************************************************************************
 * UI Functions
 *****************************************************************************/

 function buttonClick(button) {
     console.log(button.classList.contains('btn-danger'));
    if (button.classList.contains('btn-success')) {
        turnOff(button);
    }
    else {
        turnOn(button);
    }
 }

 function offButton(button) {
    button.classList.remove('btn-success');
    button.classList.add('btn-danger');
 }

  function onButton(button) {
    button.classList.remove('btn-danger');
    button.classList.add('btn-success');
 }

function turnOff(button) {
    offButton(button);
    request(button.id, 'false', button);
}

function turnOn(button) {
    onButton(button);
    request(button.id, 'true', button);
}

function request(device, status, button) {
    fetch(`/status/${device}/${status}`).then(function(response) {
        return response.json();
    })
    .then(function(myJson) {
        if (myJson.status !== "Worked") {
            console.log("Locked out");
            if (button.classList.contains('btn-success')) {
                offButton(button);
            }
            else {
                onButton(button);
            }
        }
        else {
            console.log("Updated Correctly");
        }
    }).catch(err => {
        console.log(err);
    });
}

    

    

    

    var outletOneCount = 1;
    var outletOne = [['Period', 'Outlet One'],
        [0,  0],
    ];


    google.charts.load('current', {'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(input) {
        var data = google.visualization.arrayToDataTable(outletOne);

        var options = {
            title: 'Outlet One Kilowatt Usage',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }

    var outletTwoCount = 1;
    var outletTwo = [['Period', 'Outlet Two'],
	[0, 0]
    ];


    google.charts.load('current', {'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChartTwo);

    function drawChartTwo(input) {
        var data = google.visualization.arrayToDataTable(outletTwo);

        var options = {
            title: 'Outlet Two Kilowatt Usage',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_two'));

        chart.draw(data, options);
    }


    var socket = io();
    socket.emit('connection');
    
    socket.on('updateStatus', (buttonID, status) => {
        console.log('BUtton: ' + buttonID + ' - Status: ' + status);

        var button = document.getElementById(buttonID);

        if (status === 'true') {
            onButton(button);
        }
        else {
            offButton(button);
        }
    });

    socket.on('pushData', (device, watts) => {
        console.log(`Data Pushed: ${device} ${watts}`);
        if (device === 'outlet-one') {
            outletOne.push([outletOneCount, watts]);
            outletOneCount += 1;
            drawChart();
        }
	else if (device === 'outlet-two') {
		outletTwo.push([outletTwoCount, watts]);
		outletTwoCount += 1;
		drawChartTwo();
	}
    });

    window.onbeforeunload = function(e) {
        socket.disconnect(0);
    };
</script>



